<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="AccessKey" value="AKIAZQ3DSY4K5ALBJHP6" />
    <add key="SecretKey" value="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" />
    <add key="BucketName" value="check-point-word-count" />
    <add key="InputFileName" value="InputText/InputText2.txt" />
    <add key="ResultFileName" value="word_count_results.txt" />
  </appSettings>
</configuration>